In [21]:
import numpy as np
import pandas as pd

In [75]:
df = pd.read_csv('road_accident.csv')
df

,accident_index,accident_date,day_of_week,junction_control,junction_detail,accident_severity,light_conditions,local_authority,carriageway_hazards,number_of_casualties,number_of_vehicles,police_force,road_surface_conditions,road_type,speed_limit,time,urban_or_rural_area,weather_conditions,vehicle_type
0,BS0000001,01-01-2021,Thursday,Give way or uncontrolled,T or staggered junction,Serious,Daylight,Kensington and Chelsea,NaN,1,2,Metropolitan Police,Dry,One way street,30,15:11,Urban,Fine no high winds,Car
1,BS0000002,05-01-2021,Monday,Give way or uncontrolled,Crossroads,Serious,Daylight,Kensington and Chelsea,NaN,11,2,Metropolitan Police,Wet or damp,Single carriageway,30,10:59,Urban,Fine no high winds,Taxi/Private hire car
2,BS0000003,04-01-2021,Sunday,Give way or uncontrolled,T or staggered junction,Slight,Daylight,Kensington and Chelsea,NaN,1,2,Metropolitan Police,Dry,Single carriageway,30,14:19,Urban,Fine no high winds,Taxi/Private hire car
3,BS0000004,05-01-2021,Monday,Auto traffic signal,T or staggered junction,Serious,Daylight,Kensington and Chelsea,NaN,1,2,Metropolitan Police,Frost or ice,Single carriageway,30,08:10,Urban,Other,Motorcycle over 500cc
4,BS0000005,06-01-2021,Tuesday,Auto traffic signal,Crossroads,Serious,Darkness - lights lit,Kensington and Chelsea,NaN,1,2,Metropolitan Police,Dry,Single carriageway,30,17:25,Urban,Fine no high winds,Car
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307968,BS0307969,18-02-2022,Thursday,Data missing or out of range,Not at junction or within 20 metres,Slight,Daylight,Highland,NaN,2,1,Northern,Dry,Single carriageway,60,07:00,Rural,Fine no high winds,Car
307969,BS0307970,21-02-2022,Sunday,Data missing or out of range,Not at junction or within 20 metres,Slight,Darkness - no lighting,Highland,NaN,1,1,Northern,Frost or ice,Single carriageway,60,03:00,Rural,Fine no high winds,Car
307970,BS0307971,23-02-2022,Tuesday,Give way or uncontrolled,T or staggered junction,Slight,Daylight,Highland,NaN,1,3,Northern,Frost or ice,Single carriageway,30,09:38,Rural,Fine no high winds,Car
307971,BS0307972,23-02-2022,Tuesday,Give way or uncontrolled,T or staggered junction,Serious,Darkness - no lighting,Highland,NaN,1,2,Northern,Wet or damp,Single carriageway,60,18:25,Rural,Fine no high winds,Motorcycle over 500cc
307972,BS0307973,28-02-2022,Sunday,Give way or uncontrolled,T or staggered junction,Serious,Daylight,Highland,Other object on road,1,1,Northern,Wet or damp,Dual carriageway,60,15:45,Rural,Snowing no high winds,Car

In [23]:
df.head(3)

,accident_index,accident_date,day_of_week,junction_control,junction_detail,accident_severity,light_conditions,local_authority,carriageway_hazards,number_of_casualties,number_of_vehicles,police_force,road_surface_conditions,road_type,speed_limit,time,urban_or_rural_area,weather_conditions,vehicle_type
0,BS0000001,01-01-2021,Thursday,Give way or uncontrolled,T or staggered junction,Serious,Daylight,Kensington and Chelsea,NaN,1,2,Metropolitan Police,Dry,One way street,30,15:11,Urban,Fine no high winds,Car
1,BS0000002,05-01-2021,Monday,Give way or uncontrolled,Crossroads,Serious,Daylight,Kensington and Chelsea,NaN,11,2,Metropolitan Police,Wet or damp,Single carriageway,30,10:59,Urban,Fine no high winds,Taxi/Private hire car
2,BS0000003,04-01-2021,Sunday,Give way or uncontrolled,T or staggered junction,Slight,Daylight,Kensington and Chelsea,NaN,1,2,Metropolitan Police,Dry,Single carriageway,30,14:19,Urban,Fine no high winds,Taxi/Private hire car

In [24]:
df.tail(3)

,accident_index,accident_date,day_of_week,junction_control,junction_detail,accident_severity,light_conditions,local_authority,carriageway_hazards,number_of_casualties,number_of_vehicles,police_force,road_surface_conditions,road_type,speed_limit,time,urban_or_rural_area,weather_conditions,vehicle_type
307970,BS0307971,23-02-2022,Tuesday,Give way or uncontrolled,T or staggered junction,Slight,Daylight,Highland,NaN,1,3,Northern,Frost or ice,Single carriageway,30,09:38,Rural,Fine no high winds,Car
307971,BS0307972,23-02-2022,Tuesday,Give way or uncontrolled,T or staggered junction,Serious,Darkness - no lighting,Highland,NaN,1,2,Northern,Wet or damp,Single carriageway,60,18:25,Rural,Fine no high winds,Motorcycle over 500cc
307972,BS0307973,28-02-2022,Sunday,Give way or uncontrolled,T or staggered junction,Serious,Daylight,Highland,Other object on road,1,1,Northern,Wet or damp,Dual carriageway,60,15:45,Rural,Snowing no high winds,Car

In [25]:
df.sample()

,accident_index,accident_date,day_of_week,junction_control,junction_detail,accident_severity,light_conditions,local_authority,carriageway_hazards,number_of_casualties,number_of_vehicles,police_force,road_surface_conditions,road_type,speed_limit,time,urban_or_rural_area,weather_conditions,vehicle_type
170738,BS0170739,07-10-2022,Thursday,Data missing or out of range,Not at junction or within 20 metres,Slight,Daylight,Barking and Dagenham,NaN,1,2,Metropolitan Police,Wet or damp,Single carriageway,30,18:15,Urban,Raining no high winds,Van / Goods 3.5 tonnes mgw or under

In [26]:
df.shape

(307973, 19)

In [27]:
df.size

5851487

In [56]:
df.dtypes.to_frame(name = 'Data Types')

         Data Types
category     object
count         int64

In [76]:
df['accident_date'] = pd.to_datetime(df['accident_date'], dayfirst = True)

In [58]:
df.iloc[0 : 3]

                          category   count
0    current year fatal casualties    2855
1   current year slight casualties  165837
2  current year serious casualties   27045

In [59]:
df.dtypes.to_frame(name = 'Data Types')

         Data Types
category     object
count         int64

In [32]:
df['year'] = df['accident_date'].dt.year

In [33]:
df['year'].value_counts().to_frame()

       count
year
2021  163554
2022  144419

In [34]:
current_year = df['year'].max()
current_year
previous_year = df['year'].min()
previous_year
cy_casualties = df[df['year'] == current_year]['number_of_casualties'].sum()
py_casualties = df[df['year'] == previous_year]['number_of_casualties'].sum()
print(f"Total Current Year Casualties : {cy_casualties}")
print(f"Total Previous Year Casualties: {py_casualties}")

Total Current Year Casualties : 195737
Total Previous Year Casualties: 222146

In [35]:
cy_fatal_casualties = df[(df['year'] == current_year) & 
                      (df['accident_severity'].str.lower() == 'fatal')]['number_of_casualties'].sum()
cy_serious_casualties = df[(df['year'] == current_year) & 
                      (df['accident_severity'].str.lower() == 'serious')]['number_of_casualties'].sum()
cy_slight_casualties = df[(df['year'] == current_year) & 
                      (df['accident_severity'].str.lower() == 'slight')]['number_of_casualties'].sum()
print(f"Current Year Fatal Casualties: {cy_fatal_casualties}")
print(f"Current Year Serious Casualties: {cy_serious_casualties}")
print(f"Current Year Slight Casualties: {cy_slight_casualties}")

Current Year Fatal Casualties: 2855
Current Year Serious Casualties: 27045
Current Year Slight Casualties: 165837

In [36]:
py_fatal_casualties = df[(df['year'] == previous_year) & 
                      (df['accident_severity'].str.lower() == 'fatal')]['number_of_casualties'].sum()
py_serious_casualties = df[(df['year'] == previous_year) & 
                      (df['accident_severity'].str.lower() == 'serious')]['number_of_casualties'].sum()
py_slight_casualties = df[(df['year'] == previous_year) & 
                      (df['accident_severity'].str.lower() == 'slight')]['number_of_casualties'].sum()
print(f"Previous Year Fatal Casualties: {py_fatal_casualties}")
print(f"Previous Year Serious Casualties: {py_serious_casualties}")
print(f"Previous Year Slight Casualties: {py_slight_casualties}")

Previous Year Fatal Casualties: 4280
Previous Year Serious Casualties: 32267
Previous Year Slight Casualties: 185599

In [37]:
data = {
    'current year fatal casualities': cy_fatal_casualties,
    'current year slight casualities': cy_slight_casualties,
    'current year serious casualities': cy_serious_casualties
}
df = pd.DataFrame(data = data, index = ['0'])
df

,current year fatal casualities,current year slight casualities,current year serious casualities
0,2855,165837,27045

In [38]:
data = {
    'category': ['current year fatal casualties',
                 'current year slight casualties',
                 'current year serious casualties'
                 ],
    'count': [cy_fatal_casualties, cy_slight_casualties, cy_serious_casualties]
}
df = pd.DataFrame(data)
df

                          category   count
0    current year fatal casualties    2855
1   current year slight casualties  165837
2  current year serious casualties   27045

In [41]:
df.columns.to_list()

['category', 'count']

In [77]:
round(df['accident_severity'].value_counts(normalize = True).to_frame() * 100, 2)

                   proportion
accident_severity
Slight                  85.49
Serious                 13.23
Fatal                    1.28

In [78]:
percentage = (
    df.groupby('accident_severity')['number_of_casualties'].sum() / df['number_of_casualties'].sum()) * 100
percentage.sort_values(ascending = False).round(2).to_frame().astype(str) + ' %'

                  number_of_casualties
accident_severity
Slight                          84.1 %
Serious                        14.19 %
Fatal                           1.71 %

In [79]:
vehicles_casualties = (
    df.groupby('vehicle_type')['number_of_casualties'].sum()
    .reset_index()
)
vehicles_casualties

                             vehicle_type  number_of_casualties
0                    Agricultural vehicle                  1032
1    Bus or coach (17 or more pass seats)                 11710
2                                     Car                325922
3           Goods 7.5 tonnes mgw and over                  8770
4         Goods over 3.5t. and under 7.5t                  3404
5        Minibus (8 - 16 passenger seats)                  1088
6              Motorcycle 125cc and under                  9109
7               Motorcycle 50cc and under                  4945
8   Motorcycle over 125cc and up to 500cc                  4467
9                   Motorcycle over 500cc                 15151
10                          Other vehicle                  3329
11                            Pedal cycle                    92
12                           Ridden horse                     3
13                  Taxi/Private hire car                  7563
14    Van / Goods 3.5 tonnes mgw or under                 21298

In [80]:
def vehicle(v):
    if any (x in v for x in ['Taxi/Private hire car', 'Car']):
        return 'Car'
    elif any (x in v for x in ['Motorcycle 125cc and under', 'Motorcycle 50cc and under', 'Motorcycle over 125cc and up to 500cc', 'Motorcycle over 500cc']):
        return 'Bike'
    elif any (x in v for x in ['Bus or coach (17 or more pass seats)', 'Minibus (8 - 16 passenger seats)']):
        return 'Bus'
    elif any (x in v for x in ['Goods 7.5 tonnes mgw and over', 'Goods over 3.5t. and under 7.5t', 'Van / Goods 3.5 tonnes mgw or under']):
        return 'Van'
    elif any (x in v for x in ['Agricultural vehicle']):
        return 'Agricultural Vehilce'
    else:
        return 'Other Vehicles'
df['vehicle_group'] = df['vehicle_type'].map(vehicle)

In [81]:
vehicle_casualties = (
    df.groupby('vehicle_group')['number_of_casualties'].sum()
)
vehicle_casualties.sort_values(ascending = False).to_frame()

                      number_of_casualties
vehicle_group
Car                                 333485
Bike                                 33672
Van                                  33472
Bus                                  12798
Other Vehicles                        3424
Agricultural Vehilce                  1032

In [82]:
current_year

2022

In [83]:
monthty_trend = df[df['accident_date'].dt.year == 2022].groupby(
    df['accident_date'].dt.month_name()
)['number_of_casualties'].sum()

monthty_trend.sort_values(ascending = False).to_frame()

               number_of_casualties
accident_date
November                      18439
October                       18287
September                     17500
June                          17230
July                          17201
August                        16796
May                           16775
March                         16575
April                         15767
February                      14804
December                      13200
January                       13163

In [84]:
road_type = (
    df.groupby('road_type')['number_of_casualties'].sum().sort_values(ascending = False)
)
road_type.to_frame()

                    number_of_casualties
road_type
Single carriageway                309698
Dual carriageway                   67368
Roundabout                         26828
One way street                      7389
Slip road                           6600

In [85]:
area_total = (
    df.groupby('urban_or_rural_area')['number_of_casualties'].sum()
)
area_percentage = round((area_total / area_total.sum()) * 100, 2).astype(str) + ' %'
df_area = pd.concat([area_total, area_percentage], axis = 1)
df_area

                    number_of_casualties number_of_casualties
urban_or_rural_area
Rural                             162019              38.77 %
Urban                             255864              61.23 %

In [86]:
df.light_conditions.value_counts()

light_conditions
Daylight                       227286
Darkness - lights lit           60093
Darkness - no lighting          16528
Darkness - lighting unknown      2924
Darkness - lights unlit          1142
Name: count, dtype: int64

In [87]:
def light_mapping(l):
    if any(x in l for x in['Daylight']):
        return "Day"
    else:
        return "Night"


df['light_cond'] = df['light_conditions'].map(light_mapping)

In [88]:
light_cond =(
    df.groupby('light_cond')['number_of_casualties'].count()
    .sort_values(ascending = False).astype(str) + ' - Nos of People Has Been Affected'
)
light_cond.to_frame("Count of Casualties")

                                 Count of Casualties
light_cond
Day         227286 - Nos of People Has Been Affected
Night        80687 - Nos of People Has Been Affected

In [89]:
light_cond = (
    df.groupby('light_cond')['number_of_casualties'].sum()
)
percentage = round((light_cond / light_cond.sum()) * 100, 2).astype(str) + ' %'
df_light = pd.concat([light_cond, percentage], axis = 1,
                    keys = ['Total Nos of Casualties', 'Percentage %'])
df_light

            Total Nos of Casualties Percentage %
light_cond
Day                          304963      72.98 %
Night                        112920      27.02 %

In [90]:
df.columns

Index(['accident_index', 'accident_date', 'day_of_week', 'junction_control',
       'junction_detail', 'accident_severity', 'light_conditions',
       'local_authority', 'carriageway_hazards', 'number_of_casualties',
       'number_of_vehicles', 'police_force', 'road_surface_conditions',
       'road_type', 'speed_limit', 'time', 'urban_or_rural_area',
       'weather_conditions', 'vehicle_type', 'vehicle_group', 'light_cond'],
      dtype='object')

In [91]:
local_authority = (
    df.groupby('local_authority')['number_of_casualties'].sum()
    .nlargest(10)
)
local_authority.to_frame(name = 'Total Nos')

                 Total Nos
local_authority
Birmingham            8611
Leeds                 5821
Bradford              4431
Manchester            4366
Liverpool             4052
Cornwall              3820
Sheffield             3737
Kirklees              3312
County Durham         3295
Westminster           3169